*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(14, 30, 73);
    color: rgb(255, 239, 239);
    font-family:monospace
}

footer{
    text-align: center;
    width: 100%;
    bottom: 8%;
    position: absolute;
}

p{
    font-size: 10pt;
}

span{
    font-size: 9px;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(136, 136, 136);
    border: 2px solid black;
    border-radius: 2%;
    width: 40%;
    height: 70%;
    color: black;
}

.controls{
    border: 2px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    text-align: center;
    align-items: center;
    width: 95%;
    height: 12%;
    bottom: 7%;
}

.music{
    border: 2px solid;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    text-align: center;
    width: 95%;
    height: 75%;
    margin-top: 5%;
}

.button{
    background: none;
    border: none;
    border-radius: 50%;
}

.invisivel{
    display: none;
}

#controleVolume{
   
    margin-right:6px ;
}

.icon{
    width:35px;
}

.icon2{
    width:25px;
}

#playPause{
    margin: 3% 7%;
}

#skipPlayBack{
    width: 87%;
}

#volume{
    width: 42%;
    border: 1px solid;
}

#volumeBarra{
    border: 1px solid;
    padding: 5px;
    margin-right: 5%;
    transform: rotate(180deg);
}

#muteDiv{
    width: 87%;
    text-align: right;
}

#mute{
    margin-right: 10%;
}


#barra_progresso{
    padding: 1px;
    width: 95%;
    height:10%;
}

#nome_musica{
    background: none;
    text-align: center;
    border: none;
}

#capa{
    margin: 1%;
    border: 1px solid;
    border-radius:2% ;
    height: 97%;
    width: 97%;
}

#capaDiv{
    height: 80%;
}

#info{
    width: 100%;
    height: 18%;
}

#tempo_atual{
    margin-right: 65%;
}

#nome_musica{
    font-family:monospace
}